<div class="container">
    <form class="login" [formGroup]="form">
  
      <h1 class="inicio-s">Jurado y línea</h1>
  
      <mat-form-field class="ancho mb-3" appearance="fill">
        <mat-label>Jurado</mat-label>
        <mat-select formControlName="id_comite" name="comite" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let c of comite" value="{{c.id}}">
            {{c.nombre}} 
          </mat-option>
        </mat-select>
        <mat-error >Por favor, selecciona</mat-error>
      </mat-form-field>

      <mat-form-field class="ancho mb-3" appearance="fill">
        <mat-label>Solicitud</mat-label>
        <mat-select formControlName="id_solicitud" name="linea" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let s of solicitud" value="{{s.id}}">
            {{s.nombre_solicitud}} 
          </mat-option>
        </mat-select>
        <mat-error >Por favor, selecciona mínimo una solicitud</mat-error>
      </mat-form-field>
  
      <button type="submit" class="ancho sign-in" (click)="SaveRecord()"
      >Crear</button>
    </form>
  </div>