<div class="flex justify-center">
    <form class="login" [formGroup]="form">

        <h1 class="mt-8 text-blue-900 font-bold text-xl mx-auto">Recordatorio por llamada, ingresa una breve descripción de la llamada realizada</h1>
        <input type="hidden" formControlName="id">
        <mat-form-field class="ancho w-full flex justify-center" appearance="fill">
            <mat-label for="descripcion" class="label ">Descripcion</mat-label>
            <input matInput formControlName="descripcion" name="descripcion" type="text" autocomplete="off">
        </mat-form-field>

        <button type="submit" class="flex justify-center sign-in mx-auto" (click)="SaveRecord()" (click)="openDialog()"
            [disabled]="GetForm['descripcion'].errors">Crear recordatorio</button>
    </form>
</div>