table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  ::ng-deep.mat-sort-header-content {
    @apply pl-0;
  }

  td.mat-cell {
    @apply pr-4;
  }

  .element {
    @include float-left;
  }
  .another-element {
    @include float-right;
  }
  .one-more {
    @include float-none;
  }

  .box{
    width: 600px;
  }
