<div class="container">
  <form class="login" [formGroup]="form">

    <h1 class="inicio-s">Crear usuario</h1>

    <mat-form-field class="ancho" appearance="fill">
      <mat-label for="nombre" class="label">Nombre</mat-label>
      <input matInput formControlName="nombre" name="nombre" type="text" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="ancho" appearance="fill">
      <mat-label for="apellido" class="label">Apellido</mat-label>
      <input matInput formControlName="apellido" name="apellido" type="text" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="ancho" appearance="fill">
      <mat-label for="documento" class="label">Documento</mat-label>
      <input matInput formControlName="documento" name="documento" type="tel" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="ancho" appearance="fill">
      <mat-label for="telefono" class="label">Celular</mat-label>
      <input matInput formControlName="telefono" name="telefono" type="tel" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="ancho" appearance="fill">
      <mat-label for="email" class="label">Correo</mat-label>
      <input matInput formControlName="email" name="email" type="email" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="ancho" appearance="fill">
      <mat-label class="label">Fecha de nacimiento</mat-label>
      <input matInput formControlName="fechaNacimiento" name="fechaNacimiento" [matDatepicker]="picker"
        placeholder="Ej: 12/31/2012">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="ancho mb-3" appearance="fill">
      <mat-label>Rol/Roles del usuario</mat-label>
      <mat-select formControlName="rol" name="rol" required multiple>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let r of listRol" value="{{r._id}}">
          {{r.nombre}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="GetForm['rol'].errors">Por favor, selecciona mínimo un rol</mat-error>
    </mat-form-field>

    <button type="submit" class="ancho sign-in" (click)="SaveRecord()" (click)="openDialog()"
      [disabled]="GetForm['nombre'].errors || GetForm['apellido'].errors || GetForm['telefono'].errors 
          || GetForm['documento'].errors || GetForm['email'].errors || GetForm['fechaNacimiento'].errors">Crear</button>
  </form>
</div>