.container {
    @apply w-screen transform flex justify-center items-center;
  }
  
  .inicio-s {
    @apply mb-8 text-primary-600 font-medium;
  }
  
  .login {
    box-shadow:  6px  6px 20px #ccdaec,
                  -6px -6px 20px #f3ffff;
    backdrop-filter: blur(5px);
    @apply backdrop-blur-3xl rounded-lg m-auto md:max-w-screen-lg p-4 text-center;
  }
  
  .ancho {
    @apply w-72 mx-9;
  }
  .label {
    @apply text-primary-500;
  }
  
  .sign-in {
    border: 2px solid white;
    background: transparent;
    text-transform: uppercase;
    color: white;
    padding: 10px 50px;
    outline: none;
    overflow: hidden;
    position: relative;
    @apply px-14 py-3 transform -translate-y-1 mb-3 hover:border-primary-100 text-primary-600 hover:text-primary-800 font-black tracking-wider shadow-xl;
  }
  
  span {
    z-index: 20;  
  }
  
  .sign-in:after {
    content: '';
      display: block;
      position: absolute;
      top: -36px;
      left: -100px;
      background: white;
      width: 50px;
      height: 125px;
      opacity: 20%;
      transform: rotate(-45deg);
  }
  
  .sign-in:hover:after {
    left: 120%;
    transition: all 600ms cubic-bezier(0.3, 1, 0.2, 1);
     -webkit-transition: all 600ms cubic-bezier(0.3, 1, 0.2, 1);
  }
  
  .sign-in:disabled,
  .sign-in[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: default;
  }
  .sign-in:disabled:hover:after,
  .sign-in[disabled]:hover:after{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }