<div>
    
    <h3>Creación de departamentos</h3>
    <div>
           <button class="bg-green-600" routerLink="/parametros/crear-departamento">Crear registros</button>
    </div>
    <table>
        <thead>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Facultad
            </th>
            <th>

            </th>
            <th>

            </th>
        </thead>
        <tbody>
            <tr *ngFor="let g of listaDepartamento">
                <td >
                    {{g.id}}
                </td>
                <td >
                    {{g.nombre}}
                </td>
                <td>
                    {{g.facultad.nombre}}
                </td>
                <td>
                    <button class="bg-blue-600" routerLink="/parametros/actualizar-departamento/{{g.id}}">Editar</button>
                 </td>
                 <td>
                    <button class="bg-red-600" routerLink="/parametros/eliminar-departamento/{{g.id}}">Eliminar</button>
                 </td>
            </tr>

        </tbody>

    </table>

</div>