<div class="container">
  <form class="login" [formGroup]="form">

      <h1 class="inicio-s">Crear facultad</h1>

      <mat-form-field class="ancho" appearance="fill">
          <mat-label for="nombre" class="label">Nombre</mat-label>
          <input matInput formControlName="nombre" name="nombre" type="text" autocomplete="off">
      </mat-form-field>

      <mat-form-field class="ancho" appearance="fill">
          <mat-label for="codigo" type="text" class="label">Codigo</mat-label>
          <input matInput formControlName="codigo" name="codigo" autocomplete="off">
      </mat-form-field>

      <button type="submit" class="ancho sign-in" (click)="SaveRecord()" (click)="openDialog()"
          [disabled]="GetForm['nombre'].errors || GetForm['codigo'].errors">Crear</button>
  </form>
</div>