<div class="container mt-16 flex items-center flex-wrap justify-center w-full">
  <div class="card" style="">
    <div class="imgBx w-24 h-24 ">
      <img class="no-seleccionable" draggable="false" src="../../../../../assets//img/management.png" alt="" srcset="">
    </div>
    <div class="contentBx">
      <h2 class=" " >Administrar</h2>
      <p class="text-justify font-medium text-blue-800">Los designados como administradores, tendrán la facultad de
        crear, actualizar, editar los parámetros del sistema y enviar veredictos finales</p>
    </div>
  </div>
  <div class="card" style="">
    <div class="imgBx w-24 h-24">
      <img class="no-seleccionable" draggable="false" src="../../../../../assets//img/reanudar.png" alt="" srcset="">
    </div>
    <div class="contentBx">
      <h2 class=" ">Solicitar</h2>
      <p class="text-justify font-medium text-blue-800">Los docentes o todo aquel que tenga la facultad de ser un
        proponente, podrá solicitar una evaluación a su trabajo de investigación, o su solicitud laboral</p>
    </div>
  </div>
  <div class="card" style="">
    <div class="imgBx w-28 h-28">
      <img class="no-seleccionable" draggable="false" src="../../../../../assets//img//revisar.png" alt="" srcset="">
    </div>
    <div class="contentBx">
      <h2 class="" style="margin-top: 4px;">Evaluar</h2>
      <p class="text-justify font-medium text-blue-800">Los jurados que hayan sido elegidos como evaluadores, podrán
        calificar las solicitudes a las que fueron asignados y pasar su veredicto al administrador</p>
    </div>
  </div>
</div>
