<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar bg-blue-900">
    <button *ngIf="sesion" mat-icon-button (click)="snav.toggle()">
      <mat-icon class="text-white hover:text-blue-400 hover:scale-125 duration-200">menu</mat-icon>
    </button>
    <h1 class="example-app-name text-white"><a routerLink="inicio">Validaciones <span
          class="text-indigo-500">U</span>caldas</a></h1>
    <button *ngIf="!sesion" routerLink="seguridad/inicio-sesion" class="login" mat-menu-item>Iniciar sesion</button>
    <button *ngIf="sesion" routerLink="seguridad/cerrar-sesion" class="login" (click)="snav.close()"
      mat-menu-item>Cerrar sesion</button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="bg-primary-900" #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <!-- over/side/push, modos para abrir sidenav -->
      <p class="text-white ml-6 mt-16 font-bold tracking-wider mb-16">Hola, <span
          class="text-primary-400">{{nombre}}</span> <br> ¿Qué deseas hacer?</p>
      <button *ngIf="rolId == '614a59a2353790287cca0b39'" mat-button [matMenuTriggerFor]="Responder">Responder</button>
      <mat-menu style="color:brown;" #Responder="matMenu">
        <button *ngIf="rolId == '614a59a2353790287cca0b39'" mat-menu-item [matMenuTriggerFor]="listadoMisSolicitudes">Mis Solicitudes</button>
      </mat-menu>
      <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-button [matMenuTriggerFor]="parametrizar">Parametrizar</button>
      <mat-menu style="color:brown;" #parametrizar="matMenu">
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="jurado">Jurado</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="proponente">Docente</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="solicitud">Solicitud</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="tipoSol">Tipo de solicitud</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="invitacionEv">Invitación a
          evaluar</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="recordatorios">Recordatorios</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="resultadoEv">Resultados de
          evaluación</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="comite"
          routerLink="parametros/listar-comite">Comite</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="departamento"
          routerLink="parametros/listar-departamento">Departamento</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="facultad">Facultad</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="lineaInv">Linea de investigación</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="modalidad">Modalidad</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="tipoVin">Tipo de vinculación</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="solProp">Solicitud - docente</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="solCom">Solicitud - Comite</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="propDep">docente - Departamento</button>
        <button *ngIf="rolId == '61805a211f07963610f583a9'" mat-menu-item [matMenuTriggerFor]="jurAr">Jurado - Área</button>
      </mat-menu>

      <mat-menu #comite="matMenu">
        <a (click)="snav.close()" routerLink="parametros/listar-comite" mat-menu-item>Listar comites</a>
        <a (click)="snav.close()" routerLink="parametros/crear-comite" mat-menu-item>Crear comite</a>
      </mat-menu>
      <mat-menu #departamento="matMenu">
        <button (click)="prueba()" mat-menu-item>Listar departamentos</button>
        <a (click)="snav.close()" routerLink="parametros/crear-departamento" mat-menu-item>Crear departamento</a>
      </mat-menu>
      <mat-menu #estadoSolicitud="matMenu">
        <a (click)="snav.close()" routerLink="parametros/listar-estado-solicitud" mat-menu-item>Listar estados de
          Solicitud</a>
        <a (click)="snav.close()" routerLink="parametros/crear-estado-solicitud" mat-menu-item>Crear estado de
          Solicitud</a>
      </mat-menu>
      <mat-menu #facultad="matMenu">
        <a (click)="snav.close()" routerLink="parametros/listar-facultad" mat-menu-item>Listar facultades</a>
        <a (click)="snav.close()" routerLink="parametros/crear-facultad" mat-menu-item>Crear facultad</a>
      </mat-menu>
      <mat-menu #jurado="matMenu">
        <a (click)="snav.close()" routerLink="parametros/listar-jurado" mat-menu-item>Listar jurados</a>
        <a (click)="snav.close()" routerLink="parametros/crear-jurado" mat-menu-item>Crear jurado</a>
        <a (click)="snav.close()" routerLink="shared/importar-jurados" mat-menu-item>Importar jurados</a>
      </mat-menu>
      <mat-menu #proponente="matMenu">
        <a (click)="snav.close()" routerLink="parametros/listar-proponente" mat-menu-item>Listar docentes</a>
        <a (click)="snav.close()" routerLink="parametros/crear-proponente" mat-menu-item>Crear docente</a>
      </mat-menu>
      <mat-menu #listadoMisSolicitudes="matMenu">
        <a (click)="snav.close()" routerLink="solicitud/listar-solicitud" mat-menu-item>Listar Solicitudes</a>
      </mat-menu>
      <mat-menu #lineaInv="matMenu">
        <a (click)="snav.close()" routerLink="parametros/listar-linea-investigacion" mat-menu-item>Listar lineas de
          investigación</a>
        <a (click)="snav.close()" routerLink="parametros/crear-linea-investigacion" mat-menu-item>Crear linea de
          investigación</a>
      </mat-menu>
      <mat-menu #modalidad="matMenu">
        <a (click)="snav.close()" routerLink="parametros/listar-modalidad" mat-menu-item>Listar modalidades</a>
        <a (click)="snav.close()" routerLink="parametros/crear-modalidad" mat-menu-item>Crear modalidad</a>
      </mat-menu>
      <mat-menu #recordatorios="matMenu">
        <a (click)="snav.close()" routerLink="parametros/listar-recordatorio-evaluacion" mat-menu-item>Listar
          recordatorios</a>
      </mat-menu>
      <mat-menu #resultadoEv="matMenu">
        <a (click)="snav.close()" routerLink="parametros/listar-resultado-evaluacion" mat-menu-item>Listar resultados de
          evaluación</a>
        <a (click)="snav.close()" routerLink="parametros/crear-resultado-evaluacion" mat-menu-item>Crear resultado de
          evaluación</a>
      </mat-menu>
      <mat-menu #tipoSol="matMenu">
        <a (click)="snav.close()" routerLink="parametros/listar-tipo-solicitud" mat-menu-item>Listar tipos de
          solicitud</a>
        <a (click)="snav.close()" routerLink="parametros/crear-tipo-solicitud" mat-menu-item>Crear tipo de solicitud</a>
      </mat-menu>
      <mat-menu #tipoVin="matMenu">
        <a (click)="snav.close()" routerLink="parametros/listar-tipo-vinculacion" mat-menu-item>Listar tipos de
          vinculación</a>
        <a (click)="snav.close()" routerLink="parametros/crear-tipo-vinculacion" mat-menu-item>Crear tipo de
          vinculación</a>
      </mat-menu>
      <mat-menu #solicitud="matMenu">
        <a (click)="snav.close()" routerLink="solicitud/listar-solicitud" mat-menu-item>Listar solicitudes</a>
        <a (click)="snav.close()" routerLink="solicitud/listar-solicitud-sin-evaluar" mat-menu-item>Solicitudes sin
          evaluar</a>
        <a (click)="snav.close()" routerLink="solicitud/listar-solicitud-evaluadas" mat-menu-item>Solicitudes
          evaluadas</a>
        <a (click)="snav.close()" routerLink="solicitud/listar-solicitudes-asignadas" mat-menu-item>Solicitudes
          asignadas</a>
        <a (click)="snav.close()" routerLink="solicitud/crear-solicitud" mat-menu-item>Crear solicitud</a>
      </mat-menu>
      <mat-menu #invitacionEv="matMenu">
        <a (click)="snav.close()" routerLink="invitacion-evaluar/listar-invitacion-evaluar" mat-menu-item>Listar
          invitaciones a evaluar</a>
        <a (click)="snav.close()" routerLink="invitacion-evaluar/listar-invitacion-evaluar-aceptada"
          mat-menu-item>Listar invitaciones aceptadas</a>
        <a (click)="snav.close()" routerLink="invitacion-evaluar/crear-invitacion-evaluar" mat-menu-item>Crear
          invitacion a evaluar</a>
      </mat-menu>
      <mat-menu #solProp="matMenu">
        <a (click)="snav.close()" routerLink="parametros/listar-solicitud-proponente" mat-menu-item>Listar solicitud -
          docente</a>
        <a (click)="snav.close()" routerLink="parametros/crear-solicitud-proponente" mat-menu-item>Crear solicitud -
          docente</a>
      </mat-menu>
      <mat-menu #solCom="matMenu">
        <a (click)="snav.close()" routerLink="parametros/listar-solicitud-comite" mat-menu-item>Listar solicitud -
          Comite</a>
        <a (click)="snav.close()" routerLink="parametros/crear-solicitud-comite" mat-menu-item>Crear solicitud -
          Comite</a>
      </mat-menu>
      <mat-menu #propDep="matMenu">
        <a (click)="snav.close()" routerLink="parametros/listar-proponente-departamento" mat-menu-item>Listar docente -
          Departamento</a>
        <a (click)="snav.close()" routerLink="parametros/crear-proponente-departamento" mat-menu-item>Crear docente -
          Departamento</a>
      </mat-menu>
      <mat-menu #jurAr="matMenu">
        <a (click)="snav.close()" routerLink="parametros/listar-jurado-lineaInvestigacion" mat-menu-item>Listar Jurado -
          Área</a>
        <a (click)="snav.close()" routerLink="parametros/crear-jurado-lineaInvestigacion" mat-menu-item>Crear Jurado -
          Área</a>
      </mat-menu>
      <mat-accordion *ngIf="rolId == '61805a211f07963610f583a9'">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Configuración
            </mat-panel-title>

          </mat-expansion-panel-header>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Usuarios
              </mat-panel-title>

            </mat-expansion-panel-header>

            <mat-nav-list>
              <a (click)="snav.close()" mat-list-item routerLink="seguridad/listar-usuario">Listar usuario</a>
              <a (click)="snav.close()" mat-list-item routerLink="seguridad/crear-usuario">Crear usuario</a>

            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Roles
              </mat-panel-title>

            </mat-expansion-panel-header>

            <mat-nav-list>
              <a (click)="snav.close()" mat-list-item routerLink="seguridad/listar-rol">Listar roles</a>
              <a (click)="snav.close()" mat-list-item routerLink="seguridad/crear-rol">Crear rol</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-nav-list>
            <a (click)="snav.close()" mat-list-item routerLink="/seguridad/cambiar-contraseña">Cambiar contraseña</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
      <p class="w-56 mt-40 mx-auto text-center text-white font-medium">Ingresaste con el rol <span
          class="text-primary-400">{{ rol }}</span>, en
        caso de tener más roles y quieras cambiar de rol en la sesión, por favor, cierra sesión e inicia sesión con el
        rol deseado.</p>
    </mat-sidenav>

    <mat-sidenav-content class="flex justify-center items-center bg-gray-200 w-full h-full">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>