<div class="container">
  <form class="login" [formGroup]="form">

      <h1 class="inicio-s">Actualizar comite</h1>
      <input type="hidden" formControlName="id">
      <mat-form-field class="ancho" appearance="fill">
          <mat-label for="nombre" class="label">Nombre de la comite</mat-label>
          <input matInput formControlName="nombre" name="nombre" type="text" autocomplete="off">
      </mat-form-field>

      <button type="submit" class="ancho sign-in" (click)="SaveRecord()" (click)="openDialog()"
          [disabled]="GetForm['nombre'].errors">Actualizar</button>
  </form>
</div>