
<mat-form-field appearance="fill">
    <mat-label>Comite</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Jurado</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>

  <button class="flex-shrink-0 bg-blue-700 hover:bg-blue-700 border-blue-800 hover:border-blue-800 text-sm border-4 text-white py-1 px-2 rounded" type="button">
    Actualizar
  </button>
