<div class="container">
  <form class="login" [formGroup]="form">

    <h1 class="inicio-s">Asignar solicitudes al docente</h1>

    <mat-form-field class="ancho mb-3" appearance="fill">
      <mat-label>Solicitud</mat-label>
      <mat-select formControlName="id_solicitud" name="solicitud" required multiple>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let r of solicitud" value="{{r.id}}">
          {{r.nombre_solicitud}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="GetForm['id_solicitud'].errors">Por favor, selecciona mínimo un docente</mat-error>
    </mat-form-field>

    <button type="submit" class="ancho sign-in" (click)="SaveRecord()" (click)="openDialog()"
      [disabled]="GetForm['id_solicitud'].errors">Crear</button>
  </form>
</div>