<img src="./../../../../assets//img/login-background.png" class="background" alt="" srcset="">
<div class="container">
    <form class="login" [formGroup]="form">
        <h1 class="inicio-s">Cambiar contraseña</h1>

        <input type="hidden" formControlName="id_user">

        <mat-form-field class="ancho" appearance="fill">
            <mat-label for="clave_actual" class="label">Contraseña actual</mat-label>
            <input matInput formControlName="clave_actual" name="clave_actual" type="password">
        </mat-form-field>

        <mat-form-field class="ancho" appearance="fill">
            <mat-label for="nueva_clave" class="label">Nueva contraseña</mat-label>
            <input matInput formControlName="nueva_clave" name="nueva_clave" type="password">
        </mat-form-field>

        <button type="submit" class="ancho sign-in" (click)="ChangePassword()" (click)="openDialog()"
            [disabled]="GetForm['clave_actual'].errors || GetForm['nueva_clave'].errors || !sesion">Cambiar</button>
    </form>
</div>