<div class="container">
    <form class="login" [formGroup]="form">

        <h1 class="inicio-s">Solicitud</h1>
        <input type="hidden" formControlName="id">

        <div mat-dialog-content>
            <p>¿Desea marcar a esta soliciitud como asignada?</p>
          </div>
          <div mat-dialog-actions>
            <button type="submit" class="ancho sign-in" (click)="SaveRecord()" (click)="openDialog()">Asignar</button>
            <button type="submit" class="ancho sign-in" color="primary" (click)="close()">Cancelar</button>
        </div>
    </form>
</div>