<img src="./../../../../assets//img/login-background.png" class="background" alt="" srcset="">
<div class="container">
  <form class="login" [formGroup]="form">
    <h1 class="inicio-s">Iniciar sesión</h1>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label for="usuario" type="text" class="label">Usuario</mat-label>
      <input matInput formControlName="username" name="usuario" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="ancho" appearance="fill">
      <mat-label for="contraseña" class="label">Contraseña</mat-label>
      <input matInput formControlName="password" name="contraseña" type="password">
      <mat-hint *ngIf="clave_incorrecta">
        <span style="color: #e53935">Usuario y/o contraseña es incorrecta</span>
    </mat-hint>
    </mat-form-field>

    <mat-form-field class="ancho mb-3" appearance="fill">
      <mat-label>Selecciona tu Rol</mat-label>
      <mat-select formControlName="rol" name="rol" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let r of recordList" value="{{r._id}}">
          {{r.nombre}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="GetForm['rol'].errors">Por favor, selecciona un rol</mat-error>
      <mat-hint>Con tu rol tendrás determinados permisos</mat-hint>
    </mat-form-field>

    <br>
    <a routerLink="../../seguridad/recuperar-contraseña" class="forgot">¿Olvidaste la contraseña?</a>
    <br>
    <re-captcha (resolved)="resolved($event)" class="recaptcha-wrap" siteKey="6LfaolUdAAAAAE6o19b-vxVZN7VUoc_AFYd1s3pA">
    </re-captcha>
    <button type="submit" class="ancho sign-in" (click)="Login()"
      [disabled]="GetForm['username'].errors || GetForm['password'].errors || GetForm['rol'].errors || !captcha">Ingresar</button>
  </form>
</div>